
:root {
  --primary-color: #000; 
  --secondary-color: #007bff; 
}

body {
  font-family: Arial, sans-serif;
  color: var(--primary-color);
 
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease;
  padding: 20px 100px 20px 100px;
}

.navLink {
  margin-right: 20px;
  color: #007bff;
  text-decoration: none;
 
}




.userNameButton {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userNameButton:hover {
  background-color: #0056b3; 
}


.drawerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease;
}

.drawerButton {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.drawerButton:hover {
  background-color: #0056b3; 
}
